apiVersion: batch/v1
kind: CronJob
metadata:
  name: postgres-backup
  namespace: {{ postgres_namespace }}
spec:
  schedule: "{{ backup_schedule }}"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: backup
              image: maddevsio/walg-s3-postgres:15
              env:
                - name: AWS_ACCESS_KEY_ID
                  value: "{{ backup_aws_access_key }}"
                - name: AWS_SECRET_ACCESS_KEY
                  value: "{{ backup_aws_secret_key }}"
                - name: AWS_REGION
                  value: "{{ backup_region }}"
                - name: WALE_S3_PREFIX
                  value: "{{ backup_storage_bucket }}"
                - name: PGHOST
                  value: "postgres-primary-0.postgres-primary.{{ postgres_namespace }}.svc.cluster.local"
                - name: PGUSER
                  value: "{{ postgres_user }}"
                - name: PGPASSWORD
                  value: "{{ postgres_password }}"
                - name: PGDATABASE
                  value: "{{ postgres_database }}"
              command:
                - /bin/sh
                - -c
                - |
                  echo "Запуск полного бэкапа..."
                  wal-g backup-push /home/postgres/pgdata
                  echo "Бэкап завершён."
              volumeMounts:
                - name: data
                  mountPath: /home/postgres/pgdata
                  subPath: pgdata
          restartPolicy: OnFailure
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: data-postgres-primary-0
