apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: {{ postgres_namespace }}
data:
  postgresql.conf: |
    wal_level = replica
    max_wal_senders = 8
    max_replication_slots = 8
    hot_standby = on
    archive_mode = on
    archive_command = 'wal-g wal-push %p'
    archive_timeout = 60s
  pg_hba.conf: |
    # Allow replication
    local   replication     all                             trust
    host    replication     all             127.0.0.1/32    trust
    host    replication     all             ::1/128         trust
    host    replication     all             10.42.0.0/16    md5
    # Allow access to DB
    host    {{ postgres_database }} {{ postgres_user }} 0.0.0.0/0 md5
