apiVersion: v1
kind: Service
metadata:
  name: postgres-primary
  namespace: {{ postgres_namespace }}
  labels:
    app: postgres
    role: primary
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres
    role: primary
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-replica
  namespace: {{ postgres_namespace }}
  labels:
    app: postgres
    role: replica
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres
    role: replica
